<h1><%= @artifact["objectID"] %></h1>
<h1><%= @artifact["titles"]["primaryTitle"]%></h1>

	<img src="<%= @artifact["media"]["images"]["primaryImage"]["imageUrl"] %>">

	<img src="<%= @artifact["media"]["images"]["primaryImage"]["webImageUrl"] %>">

<h1><%= @artifact["media"]["images"]["altText"] %></h1>
<h1><%= @artifact["media"]["audios"] %></h1>


<h1><%= @artifact["objectID"] %></h1>
<h1><%= @artifact["objectID"] %></h1>

