<div class="row" style="width: 150px;">
<%= form_for @artifact, remote: true, authenticity_token: true  do |f| %>  
    <%= f.label :objectID %>  
    <%= f.text_field :objectID %>  
    <%= f.label :title%>  
    <%= f.text_field :title%>
    <%= f.label :alt_title %>  
    <%= f.text_field :alt_title %>
    <%= f.label :pic_sm_url %>  
    <%= f.text_field :pic_sm_url %>
    <%= f.label :pic_lg_url %>  
    <%= f.text_field :pic_lg_url %>
    <%= f.label :audio %>  
    <%= f.text_field :audio%>
    <%= f.label :location %>  
    <%= f.text_field :location %>
    <%= f.label :era %> 
    <%= f.text_field :era %>
    <%= f.label :timeline_url %> 
    <%= f.text_field :timeline_url %>
    <%= f.submit %>
<% end %>

</div>
