<!DOCTYPE html>
<html>
  <head>
    <title>ARCHEOMAP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Anton|Fredoka+One|Julius+Sans+One|Nova+Round|Poller+One|Reem+Kufi|Roboto:300|Spinnaker', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="/artifacts/home">ARCHEOMAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/artifacts/gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/artifacts">MAP</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/artifacts/admin">HOME</a>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      </li>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </ul>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

 <!-- Devise notices -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
